$primary : #11749e;

@media(max-width : 576px){
    nav .container{
        width : 100%;
    }

    .w-sm-100 {
        width : 100% !important;
    }

    #main-header h1 {
        font-size : 4rem;
    }

    .nav-item .active-link {
        border-bottom : 0px solid $primary !important;
    }

    .nav-item .nav-link {
       &:hover {
            border-bottom : 0px solid $primary !important;
            color : $primary !important;
       }
    }
}

.container-fluid {
    width : 100% !important;
}

.container-big {
    width : 1250px;
}


.nav-item .nav-link {
   color : #fff !important;
   font-size: 20px;
   margin-left : 1rem;
   display : inline;
   padding-bottom : 38px;
   &:hover {
        border-bottom : 5px solid $primary;
   }
}


.nav-item .active-link {
   border-bottom : 5px solid $primary;
}


nav {
    border-bottom : 1px solid #626262;
    transition : 0.5s;
}


#main-header {
    background-image : url('../img/header-bg.png');
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;
    min-height : 880px;
    height : 880px;
    // background-attachment : fixed;

    .header-message {
        color : $primary;
        letter-spacing : 0.5rem;
        font-weight : 400;
        text-transform : uppercase;
    }

    #scroll-down {
        cursor : pointer;
    }
}

.section-custom-title {
    position : relative;
    top : -110px;
}

//Agency Section

#agency-section{
    min-height : 740px;
    background: $primary;

    .col-md-3 {
        img.agency-image {
            cursor : pointer;
            border-radius : 100%;
            transition : 0.2s;
            &:hover {
                border : #3B8DAF 5px dashed;
                transform : rotate(360deg);
            }
        }
    }
}

//News Section

#news-section {
    min-height : 920px;
}


#blog-section {
    min-height : 1020px;

    .blog-image {
        cursor : pointer;
        transition : 1s;
        &:hover {
            filter : sepia(100%);
        }
    }
}

#quick-section {
    min-height : 360px;
    // height : 360px;
    background: $primary;

}

#key-section {
    min-height : 850px;
    background-image : url('../img/area3.png');
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;
    background-attachment : fixed;

    .w-55 {
        width : 55%;
    }   

    .w-60 {
        width : 60%;
    }   

    .w-sm-100{
        cursor : pointer;
        transition : 0.5s;
        &:hover {
            background: #EBEBEB !important;
            color : #000;
        }
    }
    
    #phone {
        // display : none;
    }
}

#team-section {
    .team-member-card {
        position : relaive;
        width : 80%;
        top : -50px;
    }
}

#contact-section {
    min-height : 850px;
    background-image : url('../img/contact-area.png');
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;
    background-attachment : fixed;

    .form-control {
        border-radius : 0px;
        padding : 0.8rem;
        border : 1px solid #fff;
        background: transparent !important;
        color : #fff;
        resize : none;
    }

    input[type="submit"] {
        border-radius : 0px;
        background: $primary;
    }
}

#map-section {
    min-height : 340px;
    background-image : url('../img/map.png');
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;

}

footer {
    height : 115px;
    min-height : 115px;
    background: #222222;
}